# Local .terraform directories
terraform/.terraform/*

# Ignore variables files
terraform/*.auto.tfvars

# Ignore override files
terraform/*.tfoverride

# Ignore environment-specific files
terraform/.envrc

# Ignore terraform tf files
terraform/terraform.*


# ignore privateIp File
terraform/privateIps.txt

# Ignore CLI configuration files
terraform/.terraformrc
terraform/terraform.rc
